* {
    margin: 0;
    padding: 0;
}

/* Body Container */
.container-fluid {
    min-height: 91vh;
    padding: 16px;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.container {
    width: 900px;
    margin-top: 50px;
}

#reset-register {
    color: #664d03;
    font-weight: bold;
}

.Password-reset-container {
    margin-top: 5rem;
    width: 420px;
    padding: 50px 30px 30px;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
}

.Password-reset-container.inactive {
    display: none;
}
