.LeftPane:hover, .LeftPane.active {
    background-color: lightgrey;
}

.LeftPane {
    font-size: 1.25rem;
    padding: 5px;
    cursor: default;
}

.table {
    display: none;
}

.table.active {
    display: table;
}

.Tab {
    display: none;
}

.Tab.active {
    display: block;
}

.error {
    color: red;
}