{% extends 'index.html' %}
{% block title %}Password Reset{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('sprint2.static', filename="css/request_reset.css") }}">
{% endblock style %}

{% block content %}
    <nav class="navbar bg-white">
        <div class="ps-3">
            <a class="navbar-icon" href="{{ url_for('sprint1.home') }}">Plasma Donor</a>
            <div class="nav-content">
                <a class="nav-content-item" href="{{ url_for('sprint1.home') }}">HOME</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="Password-reset-container">
                <form method="POST" autocomplete="off" id="PasswordResetForm">
                    <h3>Password Reset</h3>
                    <hr>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="row row-cols-1">
                        <div class="col-sm-12 mb-2">
                            <label class="form-label" for="Password">New Password<span id="PasswordValidate"></span></label>
                            <div class="input-group">
                                <input class="form-control" type="password" name="new_password" id="Password" aria-describedby="ShowNewPassword">
                                <span class="input-group-text eye fa-solid fa-eye" id="ShowNewPassword"></span>
                            </div>
                            <div class="password-validation-container mt-3" style="width: 385px">
                            <h6 class="ps-2">Password must contain:</h6>
                            <ul>
                                <li class="li upper">At least one upper-case character [A-Z].</li>
                                <li class="li lower">At least one lower-case character [a-z].</li>
                                <li class="li digit">At least one numeric value [0-9].</li>
                                <li class="li special">At least one special character from the following [! . @].</li>
                                <li class="li length">At least 8 to 24 characters.</li>
                            </ul>
                        </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label class="form-label" for="NewConfirmPassword">Confirm Password <span id="NewConfirmPasswordValidate"></span></label>
                            <div class="input-group">
                                <input class="form-control" type="password" name="confirm_password" id="NewConfirmPassword" aria-describedby="ShowConfirmPassword">
                                <span class="input-group-text eye fa-solid fa-eye" id="ShowConfirmPassword"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit" id="Reset-Pwd-Btn">Reset Password</button>
                        <button class="btn btn-primary" id="spinner-button" disabled>
                            <span class="spinner-border text-light"></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="Password-reset-container inactive" style="padding-top: 100px">
                <div class="row row-cols-1">
                    <div class="col mb-2" style="text-align: center">
                        <span class="fa-solid fa-check-circle" style="font-size: 5rem; color: green"></span>
                    </div>
                    <div class="col" style="text-align: center; font-family: Roboto, sans-serif; font-size: 1.25rem">
                        <p style="color: rgba(0, 0, 0, 0.5)">Your password had been changed successful.</p>
                    </div>
                </div>
                <div class="d-grid" style="padding-top: 30px">
                    <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#loginmodal">Login</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content p-5">
                    <div class="modal-header">
                        <h3 class="modal-title login-header">Login</h3>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
                    <!--- Login Form --->
                    <form method="POST" autocomplete="off" id="loginform">
                        <div class="modal-body">
                            <div class="alert alert-info" type="alert" id="RequestLoginForDonorPage" style="display: none">
                                Please login to proceed to Request page.
                            </div>
                            <input class="ignore" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="pb-2">
                                <label for="UserName" class="form-label">Username <span id="UserNameValidate"></span></label>
                                <input class="form-control" type="email" id="UserName" name="username" placeholder="username@gmail.com">
                            </div>
                            <div class="pb-2">
                                <label for="LoginPassword" class="form-label">Password <span id="LoginPasswordValidate"></span></label>
                                <div class="input-group">
                                    <input class="form-control" type="password" id="LoginPassword"  name="loginpassword" placeholder="Password">
                                    <span class="input-group-text eye fa-solid fa-eye" id="ShowLoginPassword"></span>
                                </div>
                            </div>
                        </div>
                        <hr class="mt-0">
                        <div class="d-grid gap-2 pb-2">
                            {% if BtnTyp == 'Donor' %}
                                <button class="btn btn-primary" type="submit" id="login-button" data-userinfo="AsDonor">LOGIN</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit" id="login-button" data-userinfo="AsOrg">LOGIN</button>
                            {% endif %}
                            <button class="btn btn-primary" id="spinner-button" disabled>
                                <span class="spinner-border text-light"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        const csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    <script src="{{ url_for('sprint1.static', filename="js/login.js") }}"></script>
{% endblock javascript %}